hgroup {
    background: rgb(33, 69, 131);
    color: white;
    margin-bottom: 10px;
    padding: 0 0 0 30px;
    overflow: auto;
}

hgroup img {
    display: inline-block;
    float: right;
    height: 100px;
}

h1 {
    display: inline-block;
    font-size: 24px;
    font-family: Georgia;
    font-weight: 400;
    float: left;
    line-height: 100px;
    margin: 0;
    padding: 0;
}

.meta {
    font: 12px Helvetica;
    background: #eee;
    margin-top: 20px;
    padding: 15px;
}

.tools a {
    display: inline-block;
    font: 12px/1.4 helvetica;
    margin-right: 20px;
    text-decoration: none;
}

#debugging {
	display: none;
}

#profile-link {
	width: 60px;
	height: 60px;
	display: block;
	margin: 4px;
}